<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <div> 
        
                <table>
                    <thead>
                        <th> Correo </th>
                        <th> Nombre </th>
                        <th> Apellido </th>
                    </thead>
                    <tbody>
                        <% if (arraydeusuarios.length > 0) { %> 
                            <% arraydeusuarios.forEach(element => { %> 
                                <tr>
                                    <th scope = 'rows'><%= element.email %></th>
                                    <td><%= element.email %></td>
                                    <td><%= element.nombre %></td>
                                    <td><%= element.apellido %></td>

                                </tr>    
                        <% }) %>
                        <% } %>


                    </tbody>
                </table>
     
    </div>
</body>
</html>